<h1>{{ 'about.title' | translate }}</h1>

<div class="card">
  <div class="card-body text-dark">
    <p [innerHTML]="'about.text' | translate"></p>
    <ul>
      <li>{{ 'about.versionLabel' | translate }} <span title="{{ actuatorInfo?.git?.branch }} {{ actuatorInfo?.git?.commit?.id }}">{{ actuatorInfo?.build?.version }} ({{ actuatorInfo?.build?.time | date:'yyyy-MM-dd HH:mm' }})</span></li>
      <li>{{ 'about.sourceCodeLabel' | translate }} <a href="https://github.com/fcrespel/karaplan">https://github.com/fcrespel/karaplan</a></li>
      <li>{{ 'about.licenseLabel' | translate }} <a href="https://opensource.org/licenses/MIT">MIT License</a></li>
    </ul>

    <h3 class="mt-4">{{ 'about.termsTitle' | translate }}</h3>
    <p [innerHTML]="'about.termsText' | translate"></p>

    <h3 class="mt-4">{{ 'about.privacyTitle' | translate }}</h3>
    <p [innerHTML]="'about.privacyText' | translate"></p>
    <p [innerHTML]="'about.privacyProfileDeletion' | translate"></p>

    <h3 class="mt-4">{{ 'about.disclaimerTitle' | translate }}</h3>
    <p [innerHTML]="'about.disclaimerText' | translate"></p>
  </div>
</div>
