<p class="small mb-0">
  <a href="#" routerLink="/songs" class="text-light">Songs</a> //
  <a href="#" routerLink="/songs" [queryParams]="{ query: song.artist.name }" class="text-light" *ngIf="song">{{ song.artist.name }}</a> //
</p>
<h1>{{ song?.name || '...' }}</h1>

<!-- Navigation pills -->
<ul class="nav nav-pills my-3">
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="switchTab($event, 'info')" [class.active]="tab == 'info'" title="Info">
      <i class="fas fa-info-circle"></i><span class="d-md-inline" [class.d-none]="tab != 'info'"> Info</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="switchTab($event, 'lyrics')" [class.active]="tab == 'lyrics'" title="Lyrics">
      <i class="fas fa-microphone-alt"></i><span class="d-md-inline" [class.d-none]="tab != 'lyrics'"> Lyrics</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="switchTab($event, 'comments')" [class.active]="tab == 'comments'" title="Comments">
      <i class="fas fa-comments"></i><span class="d-md-inline" [class.d-none]="tab != 'comments'"> Comments</span>
      <span class="badge badge-light ml-1" *ngIf="song && song.comments">{{ song.commentsCount }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="switchTab($event, 'related')" [class.active]="tab == 'related'" title="Related">
      <i class="fas fa-music"></i><span class="d-md-inline" [class.d-none]="tab != 'related'"> Related</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="switchTab($event, 'files')" [class.active]="tab == 'files'" title="Files">
      <i class="fas fa-headphones"></i><span class="d-md-inline" [class.d-none]="tab != 'files'"> Files</span>
      <span class="badge badge-light ml-1" *ngIf="songFiles">{{ songFiles.length }}</span>
    </a>
  </li>
</ul>

<ng-container *ngIf="song; else songLoading">
  <!-- Info -->
  <div class="row" *ngIf="tab == 'info'">
    <div class="col">
      <div class="card">
        <div class="card-body text-dark text-center text-sm-left">
          <div class="row">
            <div class="col-12 col-sm-auto mb-3 mb-sm-0">
              <img src="{{ song.image }}" class="rounded" style="width: 150px;">
            </div>
            <div class="col">
              <h5 class="card-title mb-1">{{ song.name }}</h5>
              <p class="card-subtitle"><a href="#" routerLink="/songs" [queryParams]="{ query: song.artist.name }" class="text-muted"><small>{{ song.artist.name }}</small></a></p>
              <p>
                <span class="badge badge-secondary" title="Duration">{{ song.duration | duration }}</span>
                <a href="#" class="badge badge-primary ml-1" title="Style" *ngFor="let style of song.styles" routerLink="/songs" [queryParams]="{ type: 'styles', query: style.catalogId }">{{ style.name }}</a>
              </p>
              <app-song-actions [song]="song" [showComments]="false"></app-song-actions>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lyrics -->
  <div class="row" *ngIf="tab == 'lyrics'">
    <div class="col">
      <div class="card">
        <div class="card-body text-dark text-center">
          <p class="card-text" style="white-space: pre-line;">{{ song.lyrics }}</p>
          <p class="card-text text-muted small">{{ song.rights }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Comments -->
  <div class="row" *ngIf="tab == 'comments'">
    <div class="col">
      <ul class="list-group shadow">
        <li class="list-group-item px-3 py-2">
          <form #commentForm="ngForm" (ngSubmit)="addComment(commentText, commentForm)" class="text-right">
            <div class="form-group mb-2">
              <textarea class="form-control form-control-sm" name="commentText" [(ngModel)]="commentText" #commentTextField="ngModel" [class.is-invalid]="commentTextField.dirty && commentTextField.invalid" rows="2" placeholder="Your comment ..." required></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-pink" [disabled]="!commentForm.form.valid">Add comment</button>
          </form>
        </li>
        <li *ngFor="let comment of song.comments; trackBy: trackByCommentId" class="list-group-item px-3 py-2">
          <div class="d-flex align-items-center justify-content-between">
            <small class="text-muted flex-grow-1">{{ comment.user.displayName }}</small>
            <small class="text-muted">{{ comment.createdDate | date:'short' }}</small>
            <button type="button" class="btn btn-sm btn-danger ml-2" *ngIf="comment.user.id == user?.id" (click)="removeComment(comment)" title="Remove comment"><i class="fas fa-trash-alt"></i></button>
          </div>
          <p class="mb-2 comment-text text-dark">{{ comment.comment }}</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Related songs -->
  <div class="row" *ngIf="tab == 'related'">
    <div class="col">
      <app-song-list [songs]="relatedSongs"></app-song-list>
      <div class="text-center my-3" *ngIf="hasMoreRelatedSongs">
        <button type="button" (click)="loadMoreRelatedSongs()" class="btn btn-lg btn-outline-light w-50">Load more ...</button>
      </div>
    </div>
  </div>

  <!-- Files -->
  <div class="row" *ngIf="tab == 'files'">
    <div class="col">
      <ul class="list-group shadow">
        <li class="list-group-item d-flex justify-content-between align-items-center no-gutters px-3 py-2" *ngFor="let songFile of songFiles; trackBy: trackBySongFileId">
          <div class="col">
            <p class="m-0 text-dark">{{ getSongFileTrackTypeLabel(songFile) }}</p>
          </div>
          <div class="col-auto">
            <small class="badge badge-secondary">
              <i class="fas fa-volume-up" *ngIf="songFile.format == 'mp3'"></i>
              <i class="fas fa-film" *ngIf="songFile.format == 'wmv' || songFile.format == 'mp4'"></i>
              <i class="fas fa-archive" *ngIf="songFile.format == 'zip'"></i>
              <i class="fas fa-microphone-alt" *ngIf="songFile.format == 'kfn' || songFile.format == 'cdg'"></i>
              {{ songFile.format }}
            </small>
            <a href="{{ songFile.previewUrl }}" class="btn btn-sm btn-pink ml-2"><i class="far fa-arrow-alt-circle-down"></i> Preview</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<!-- Loading indicator -->
<ng-template #songLoading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border spinner-border-lg" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
