<h1>Songs</h1>

<!-- Navigation pills -->
<ul class="nav nav-pills my-3">
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/songs" [queryParams]="{ type: 'query' }" [class.active]="type == 'query'" title="Search">
      <i class="fas fa-search"></i><span class="d-sm-inline" [class.d-none]="type != 'query'"> Search</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/songs" [queryParams]="{ type: 'theme' }" [class.active]="type == 'theme'" title="Selections">
      <i class="fas fa-music"></i><span class="d-sm-inline" [class.d-none]="type != 'theme'"> Selections</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/songs" [queryParams]="{ type: 'styles' }" [class.active]="type == 'styles'" title="Genres">
      <i class="fas fa-guitar"></i><span class=" d-sm-inline" [class.d-none]="type != 'styles'"> Genres</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/songs" [queryParams]="{ type: 'top' }" [class.active]="type == 'top'" title="Top">
      <i class="fas fa-trophy"></i><span class="d-sm-inline" [class.d-none]="type != 'top'"> Top</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/songs" [queryParams]="{ type: 'news' }" [class.active]="type == 'news'" title="New releases">
      <i class="fas fa-calendar-alt"></i><span class="d-sm-inline" [class.d-none]="type != 'news'"> New releases</span>
    </a>
  </li>
</ul>

<!-- Search bar -->
<div class="row my-3" *ngIf="type == 'query'">
  <div class="col">
    <form (ngSubmit)="onSearch(query)">
      <div class="input-group shadow">
        <input type="text" class="form-control" name="query" [(ngModel)]="query" placeholder="Song or artist name">
        <div class="input-group-append">
          <button type="submit" class="btn btn-pink"><i class="fas fa-search"></i> Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Selections -->
<app-song-selections [selections]="selections"></app-song-selections>

<!-- Songs -->
<app-song-list [songs]="songs"></app-song-list>
<div class="text-center my-3" *ngIf="hasMoreSongs">
  <button type="button" (click)="loadMoreSongs()" class="btn btn-lg btn-outline-light w-50">Load more ...</button>
</div>
