<h1>Songs</h1>

<ngb-tabset type="pills" [activeId]="type" (tabChange)="onTabChange($event)">
  <ngb-tab id="query">
    <ng-template ngbTabTitle><i class="fas fa-search"></i> Search</ng-template>
    <ng-template ngbTabContent class="my-3">
      <div class="row my-3">
        <div class="col">
          <form (ngSubmit)="onSearch(query)">
            <div class="input-group shadow">
              <input type="text" class="form-control" name="query" [(ngModel)]="query" placeholder="Song or artist name">
              <div class="input-group-append">
                <button type="submit" class="btn btn-pink"><i class="fas fa-search"></i> Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <app-song-list [songs]="songs$ | async"></app-song-list>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="theme">
    <ng-template ngbTabTitle><i class="fas fa-music"></i> Playlists</ng-template>
    <ng-template ngbTabContent>
      <div class="my-3">
        <app-song-selections [selections]="selections$ | async"></app-song-selections>
        <app-song-list [songs]="songs$ | async"></app-song-list>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="styles">
    <ng-template ngbTabTitle><i class="fas fa-guitar"></i> Genres</ng-template>
    <ng-template ngbTabContent>
      <div class="my-3">
        <app-song-selections [selections]="selections$ | async"></app-song-selections>
        <app-song-list [songs]="songs$ | async"></app-song-list>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="top">
    <ng-template ngbTabTitle><i class="fas fa-trophy"></i> Top</ng-template>
    <ng-template ngbTabContent>
      <div class="my-3">
        <app-song-selections [selections]="selections$ | async"></app-song-selections>
        <app-song-list [songs]="songs$ | async"></app-song-list>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="news">
    <ng-template ngbTabTitle><i class="fas fa-calendar-alt"></i> New releases</ng-template>
    <ng-template ngbTabContent>
      <div class="my-3">
        <app-song-selections [selections]="selections$ | async"></app-song-selections>
        <app-song-list [songs]="songs$ | async"></app-song-list>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
