spring:
  application:
    name: karaplan
  cache:
    jcache:
      config: classpath:ehcache.xml
  cloud:
    gcp:
      core:
        enabled: false
      logging:
        enabled: false
      secretmanager:
        enabled: false
      sql:
        enabled: false
  h2:
    console:
      enabled: false
  jackson:
    default-property-inclusion: non-empty
  jpa:
    generate-ddl: true
    open-in-view: false
    properties:
      hibernate.globally_quoted_identifiers: true
      hibernate.id.db_structure_naming_strategy: legacy
  main:
    lazy-initialization: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: toComplete
            client-secret: toComplete
          github:
            client-id: toComplete
            client-secret: toComplete
            scope: read:user,user:email
  session:
    jdbc:
      initialize-schema: always
  web:
    resources:
      cache:
        cachecontrol:
          cache-public: true
          max-age: 30d
springdoc:
  packages-to-scan: me.crespel.karaplan.web.api
  swagger-ui:
    path: /api
    doc-expansion: none
    operations-sorter: alpha
    tags-sorter: alpha
    csrf:
      enabled: true
server:
  port: ${PORT:8080}
  compression:
    enabled: true
  error:
    include-message: always
  forward-headers-strategy: framework
  servlet:
    encoding:
      charset: UTF-8
      force: true
    session:
      timeout: 12h
  shutdown: graceful
management:
  endpoints:
    web:
      exposure:
        include: [health, info]
  endpoint:
    health:
      probes:
        enabled: true
otel:
  sdk:
    disabled: true
karaplan:
  karafun:
    remote:
      endpoint: https://www.karafun.com
      endpoint-for-locale:
        de: https://www.karafun.de
        en: https://www.karafun.com
        es: https://www.karafun.es
        fr: https://www.karafun.fr
        it: https://www.karafun.it
        nl: https://www.karafun.nl
    web:
      endpoint: https://www.karafun.com
      endpoint-for-locale:
        de: https://www.karafun.de
        en: https://www.karafun.com
        es: https://www.karafun.es
        fr: https://www.karafun.fr
        it: https://www.karafun.it
        nl: https://www.karafun.nl
  kv:
    endpoint: https://www.karaoke-version.com/api
    endpoint-for-locale:
      de: https://www.karaoke-version.de/api
      en: https://www.karaoke-version.com/api
      es: https://www.version-karaoke.es/api
      fr: https://www.version-karaoke.fr/api
      it: https://www.versione-karaoke.it/api
      nl: https://www.karaoke-versie.nl/api
