<!-- Title -->
<h1>User account</h1>

<!-- Navigation pills -->
<ul class="nav nav-pills my-3">
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="switchTab($event, 'profile')" [class.active]="tab == 'profile'" title="Profile">
      <i class="fas fa-user"></i><span class="d-md-inline" [class.d-none]="tab != 'profile'"> Profile</span>
    </a>
  </li>
</ul>

<ng-container *ngIf="user; else userLoading">
  <!-- Profile -->
  <div class="card" *ngIf="tab == 'profile'">
    <div class="card-body text-dark">
      <p>
        Your user profile is linked to your
        <ng-container [ngSwitch]="user.provider">
          <a href="https://accounts.google.com" *ngSwitchCase="'google'">Google account</a>
          <a href="https://www.facebook.com/settings?tab=account" *ngSwitchCase="'facebook'">Facebook account</a>
          <a href="https://github.com/settings/profile" *ngSwitchCase="'github'">GitHub account</a>
        </ng-container>. You may choose a different display name to use here.
      </p>
      <form #userProfileForm="ngForm" *ngIf="user" (ngSubmit)="updateUser(user)">
        <div class="form-group row">
          <label for="displayName" class="col-sm-2 col-form-label">Display name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="displayName" name="displayName" [(ngModel)]="user.displayName" #displayNameField="ngModel" [class.is-invalid]="displayNameField.dirty && displayNameField.invalid" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email address</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" readonly>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 offset-md-2">
            <button type="submit" class="btn btn-pink" [disabled]="!userProfileForm.form.valid">Update profile</button>
          </div>
        </div>
      </form>
      <hr>
      <div class="text-right">
        <button type="button" (click)="deleteAccount(deleteAccountModal)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete Account</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Loading indicator -->
<ng-template #userLoading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border spinner-border-lg" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<!-- Deletion confirmation modal -->
<ng-template #deleteAccountModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #accountDeletionForm="ngForm">
      <p class="text-danger"><strong>You are going to delete your account and all your votes.</strong></p>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="deleteComments" name="deleteComments" [(ngModel)]="deleteComments">
        <label class="form-check-label" for="deleteComments">Delete all comments as well</label>
      </div>
      <p>Please type <strong>delete my account</strong> below to confirm:</p>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="confirmDeletion" name="confirmDeletion" [(ngModel)]="confirmDeletion" 
            #confirmDeletionField="ngModel" pattern="delete my account" [class.is-invalid]="confirmDeletionField.dirty && confirmDeletionField.invalid" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" [disabled]="!accountDeletionForm.form.valid" (click)="modal.close()">Delete my account</button>
  </div>
</ng-template>
