<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{'playlists.leaveModal.title' | translate}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <p>{{'playlists.leaveModal.text' | translate}}</p>
  @if (playlist().members!.length > 1) {
    <p>{{'playlists.leaveModal.instructionsMultiple' | translate}}</p>
  } @else {
    <p>{{'playlists.leaveModal.instructionsSingle' | translate}}</p>
  }
  <div class="input-group">
    <input type="text" class="form-control form-control-sm" readonly id="shareUrl" name="shareUrl" [(ngModel)]="shareUrl" #shareUrlField>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="copyToClipboard(shareUrlField)" [title]="'playlists.leaveModal.copyTooltip' | translate"><i class="fas fa-copy"></i></button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close(playlist())">{{'playlists.leaveModal.confirmButton' | translate}}</button>
</div>
