<!-- Votes -->
<div class="btn-group mx-1" role="group" *ngIf="showVotes">
  <button type="button" class="btn btn-outline-success" (click)="$event.stopPropagation(); voteUp()" title="Vote up" placement="top" ngbTooltip="{{voteUpUsers}}">
    <i class="fa-thumbs-up" [class.far]="vote?.score != 1" [class.fas]="vote?.score == 1"></i>
    <span class="badge badge-success ml-1" *ngIf="song.scoreUp">{{ song.scoreUp }}</span>
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="$event.stopPropagation(); voteDown()" title="Vote down" placement="top" ngbTooltip="{{voteDownUsers}}">
    <i class="fa-thumbs-down" [class.far]="vote?.score != -1" [class.fas]="vote?.score == -1"></i>
    <span class="badge badge-danger ml-1" *ngIf="song.scoreDown">{{ song.scoreDown }}</span>
  </button>
</div>

<!-- Comments -->
<div ngbDropdown autoClose="outside" placement="bottom bottom-right" container="body" class="d-inline-block" *ngIf="showComments">
  <button type="button" class="btn btn-outline-secondary mx-1" (click)="$event.stopPropagation()" ngbDropdownToggle title="Comments">
    <i class="far fa-comment"></i>
    <span class="badge badge-secondary ml-1" *ngIf="song.comments">{{ song.comments.length }}</span>
  </button>
  <div class="dropdown-menu comment-menu shadow" ngbDropdownMenu>
    <form #commentForm="ngForm" (ngSubmit)="addComment(commentText, commentForm)" class="mx-3 my-2 text-right">
      <div class="form-group mb-2">
        <textarea class="form-control form-control-sm" name="commentText" [(ngModel)]="commentText" #commentTextField="ngModel" [class.is-invalid]="commentTextField.dirty && commentTextField.invalid" rows="1" cols="100" placeholder="Your comment ..." required></textarea>
      </div>
      <button type="submit" class="btn btn-sm btn-pink" [disabled]="!commentForm.form.valid">Add comment</button>
    </form>
    <ng-container *ngFor="let comment of song.comments; trackBy: trackByCommentId">
      <div class="dropdown-divider"></div>
      <div class="d-flex mx-3 mt-2 mb-0 align-items-center justify-content-between">
        <small class="text-muted flex-grow-1">{{ comment.user.displayName }}</small>
        <small class="text-muted">{{ comment.createdDate | date:'short' }}</small>
        <button type="button" class="btn btn-sm btn-danger ml-2" *ngIf="comment.user.id == user?.id" (click)="removeComment(comment)" title="Remove comment"><i class="fas fa-trash-alt"></i></button>
      </div>
      <p class="mx-3 mt-0 mb-2 comment-text">{{ comment.comment }}</p>
    </ng-container>
  </div>
</div>

<!-- Playlists -->
<div ngbDropdown autoClose="outside" placement="bottom-left bottom bottom-right" container="body" class="d-inline-block" (openChange)="onPlaylistOpen()" *ngIf="showPlaylists">
  <button type="button" class="btn btn-outline-primary mx-1" (click)="$event.stopPropagation()" ngbDropdownToggle title="Add to playlist">
    <i class="fas fa-list"></i>
    <span class="badge badge-primary ml-1" *ngIf="song.playlists">{{ song.playlists.length }}</span>
  </button>
  <div class="dropdown-menu shadow" ngbDropdownMenu>
    <button type="button" class="dropdown-item" ngbDropdownItem *ngFor="let playlist of playlists; trackBy: trackByPlaylistId" (click)="togglePlaylist(playlist)">
      <i class="far fa-square mr-1" *ngIf="!playlist.isSelected"></i>
      <i class="far fa-check-square mr-1" *ngIf="playlist.isSelected"></i>
      {{ playlist.name }}
    </button>
    <div class="dropdown-divider" *ngIf="playlists && playlists.length > 0"></div>
    <a class="dropdown-item" href="#" routerLink="/playlists"><i class="fas fa-plus mr-1"></i> New playlist</a>
  </div>
</div>

<!-- Remove -->
<button type="button" class="btn btn-outline-danger mx-1" title="Remove song" (click)="$event.stopPropagation(); songRemoved.emit(song)" *ngIf="showRemove">
  <i class="far fa-trash-alt"></i>
</button>
