<div class="btn-group mx-1" role="group">
  <button type="button" class="btn btn-outline-success" (click)="voteUp($event, song)" title="Vote up"><i class="far fa-thumbs-up"></i></button>
  <button type="button" class="btn btn-outline-danger" (click)="voteDown($event, song)" title="Vote down"><i class="far fa-thumbs-down"></i></button>
</div>
<button type="button" class="btn btn-outline-secondary mx-1" title="Comment"><i class="far fa-comment"></i></button>
<button type="button" class="btn btn-outline-primary mx-1" title="Add to playlist"><i class="fas fa-list"></i></button>
