<!-- Title -->
<h1>{{ 'user.title' | translate }}</h1>

<!-- Navigation pills -->
<ul class="nav nav-pills my-3">
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/user/profile" [title]="'user.profile.title' | translate">
      <i class="fas fa-user"></i><span class="d-md-inline"> {{ 'user.profile.title' | translate }}</span>
    </a>
  </li>
  <li>
    <a class="nav-link" href="#" routerLink="/user/votes" [title]="'user.votes.title' | translate">
      <i class="fas fa-thumbs-up"></i><span class="d-md-inline d-none"> {{ 'user.votes.title' | translate }}</span>
    </a>
  </li>
</ul>

<!-- Profile -->
@if (user) {
  <div class="card">
    <div class="card-body text-dark">
      <p [innerHTML]="'user.profile.providerText.' + user.provider | translate"></p>
      <p [innerHTML]="'user.profile.displayNameText' | translate"></p>
      @if (user) {
        <form #userProfileForm="ngForm" (ngSubmit)="updateUser(user)">
          <div class="row mb-3">
            <label for="displayName" class="col-sm-2 col-form-label">{{ 'user.profile.displayNameLabel' | translate }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="displayName" name="displayName" [(ngModel)]="user.displayName" #displayNameField="ngModel" [class.is-invalid]="displayNameField.dirty && displayNameField.invalid" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">{{ 'user.profile.emailLabel' | translate }}</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" disabled readonly>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-6 offset-md-2">
              <button type="submit" class="btn btn-pink" [disabled]="!userProfileForm.form.valid">{{ 'user.profile.updateButton' | translate }}</button>
            </div>
          </div>
        </form>
      }
      <hr>
        <div class="text-end">
          <button type="button" (click)="deleteAccount(deleteAccountModal)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> {{ 'user.profile.deleteAccountButton' | translate }}</button>
        </div>
      </div>
    </div>
  } @else {
    <div class="d-flex justify-content-center">
      <div class="spinner-border spinner-border-lg" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  }

  <!-- Deletion confirmation modal -->
  <ng-template #deleteAccountModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'user.profile.deleteAccountModal.title' | translate }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form #accountDeletionForm="ngForm">
        <p class="text-danger"><strong>{{ 'user.profile.deleteAccountModal.text' | translate }}</strong></p>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="deleteComments" name="deleteComments" [(ngModel)]="deleteComments">
          <label class="form-check-label" for="deleteComments">{{ 'user.profile.deleteAccountModal.deleteCommentsLabel' | translate }}</label>
        </div>
        <p [innerHTML]="'user.profile.deleteAccountModal.confirmText' | translate"></p>
        <div class="mb-3">
          <input type="text" class="form-control" id="confirmDeletion" name="confirmDeletion" [(ngModel)]="confirmDeletion"
            #confirmDeletionField="ngModel" [pattern]="'user.profile.deleteAccountModal.confirmPattern' | translate" [class.is-invalid]="confirmDeletionField.dirty && confirmDeletionField.invalid" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" [disabled]="!accountDeletionForm.form.valid" (click)="modal.close()">{{ 'user.profile.deleteAccountModal.confirmButton' | translate }}</button>
    </div>
  </ng-template>
