@if (alertService.messages.length > 0) {
  <div class="toast-container position-fixed top-0 end-0 p-3 mt-5">
    @for (message of alertService.messages; track message) {
      <ngb-toast #toast [animation]="true" [autohide]="true" [delay]="7000"
        [class]="'text-bg-' + message.severity" (hidden)="onClose(message)">
        <div class="d-flex">
          <span class="me-auto"><strong>{{ message.title }}:</strong> {{ message.text }}</span>
          <button type="button" class="btn-close" aria-label="Close" (click)="toast.hide()"></button>
        </div>
      </ngb-toast>
    }
  </div>
}
