.alert {
    border: 0;
}

.alert-primary {
    background-color: var(--bs-primary) !important;
    color: #fff !important;
}
.alert-secondary {
    background-color: var(--bs-secondary) !important;
    color: #fff !important;
}
.alert-success {
    background-color: var(--bs-success) !important;
    color: #fff !important;
}
.alert-danger {
    background-color: var(--bs-danger) !important;
    color: #fff !important;
}
.alert-warning {
    background-color: var(--bs-warning) !important;
    color: #000 !important;
}
.alert-info {
    background-color: var(--bs-info) !important;
    color: #fff !important;
}
.alert-light {
    background-color: var(--bs-light) !important;
    color: #000 !important;
}
.alert-dark {
    background-color: var(--bs-dark) !important;
    color: #fff !important;
}
