.comment-menu {
    min-width: 300px;
    max-width: 500px;
}

.comment-text {
    white-space: pre-line;
    font-size: 0.875rem;
}

.share-menu {
    min-width: 400px;
    max-width: 600px;
}

.members-menu {
    min-width: 270px;
    max-width: 400px;
}