@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
	height: 100%;
}

body {
	min-height: 100%;
	padding-bottom: 1.5rem;
	font-family: 'Raleway', sans-serif;
	background-image: linear-gradient(141.27841068346947deg, #1d0032, #210038 3.1%, #240039 3.1%, #2a003d 6%, #2d003e 6%, #3a0046 9.9%, #cc577a 59.1%, #ca587a 59.1%,#7b222b);
	background-size: 100%;
	background-attachment: fixed;
}

body > .dropdown {
	z-index: 1000;
}

h1 {
	margin-bottom: 1rem;
}

a {
	color: #db2c78;
}
a:hover {
	color: #cc577a;
}

.bg-white-50 {
	background-color: rgba(255,255,255,.5) !important;
}

.border-white-50 {
	border-color: rgba(255,255,255,.5) !important;
}

.bg-pink {
	background-color: #db2c78;
}

.border-pink {
	border-color: #db2c78;
}

.btn-pink {
	background-color: #db2c78;
	border-color: #db2c78;
	color: #fff;
}
.btn-pink:hover {
	background-color: #cc577a;
	border-color: #cc577a;
	color: #fff;
}

.navbar-brand {
	font-weight: bold;
}

.nav-pills .nav-link {
	color: rgba(255, 255, 255, 0.8);
}

.nav-pills .nav-link.active {
	background-color: #db2c78;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #db2c78;
}

.list-group-item.active {
	background-color: #db2c78;
	border-color: #db2c78;
}

.spinner-border-md {
	width: 1.5rem;
	height: 1.5rem;
}

.spinner-border-lg {
	width: 3rem;
	height: 3rem;
}
