<!-- Toolbar -->
<ng-container  *ngIf="!playlist.readOnly; else accessIdInput">
  <div class="row no-gutters justify-content-between align-items-center mb-2">
    <div class="col">
      <a href="#" routerLink="/songs" class="btn btn-pink shadow"><i class="fas fa-search"></i> Find songs</a>
    </div>
    <div class="col-auto">
      <span class="badge badge-light mx-2" *ngIf="playlist.duration" title="Duration">{{ playlist.duration | duration }}</span>
      <div ngbDropdown placement="bottom-left" class="d-inline-block mx-1">
        <button *ngIf="playlist.restricted" type="button" class="btn btn-light shadow mr-1" (click)="openShareModal(shareModal)"><i class="fas fa-share"></i> Share</button>
        <button class="btn btn-light shadow" ngbDropdownToggle>Export</button>
        <div class="dropdown-menu shadow" ngbDropdownMenu>
          <button type="button" class="dropdown-item" ngbDropdownItem (click)="exportPlaylistToKarafunRemote(playlist, karafunRemoteExportModal)">Karafun Remote</button>
          <button type="button" class="dropdown-item" ngbDropdownItem (click)="exportPlaylistToKarafunBar(playlist, karafunBarExportModal)">Karafun Bar</button>
        </div>
      </div>
      <button type="button" class="btn btn-danger shadow ml-1" (click)="deletePlaylist(playlist)"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
  </div>
</ng-container>
<!-- Song list -->
<app-song-list [songs]="playlist.songs" [showDuration]="true" [showRemove]="!playlist.readOnly" (playlistRemoved)="onPlaylistRemoved($event)" (songRemoved)="onSongRemoved($event)" *ngIf="playlist.songs && playlist.songs.length > 0"></app-song-list>
<ng-container *ngIf="!playlist.songs || playlist.songs.length == 0">
  <p>No song has been added to this playlist yet.</p>
</ng-container>

<ng-template #accessIdInput>
  <h4>This playlist is on read-only. Enter the access code if you want to edit.</h4>
  <form #accessIdInputForm="ngForm" (ngSubmit)="unlockPlaylist(accessIdInputForm)">
      <div class="form-group">
          <label for="acessId">Access ID</label>
          <div class="input-group">
            <input type="text" class="form-control" id="accessId" name="accessId" [(ngModel)]="accessId" #accessIdField="ngModel" [class.is-invalid]="accessIdField.dirty && accessIdField.invalid" required>
            <button type="submit" class="btn btn-pink" [disabled]="!accessIdInputForm.form.valid">Access Playlist</button>
          </div>
        </div>
  </form>
</ng-template>

<!-- Karafun Remote export modal -->
<ng-template #karafunRemoteExportModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Export to Karafun Remote</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #karafunRemoteExportForm="ngForm">
      <div class="form-group">
        <label for="karafunRemoteId">Remote ID</label>
        <div class="input-group">
          <input type="number" class="form-control" id="karafunRemoteId" name="karafunRemoteId" [(ngModel)]="karafunRemoteId" #karafunRemoteIdField="ngModel" [class.is-invalid]="karafunRemoteIdField.dirty && karafunRemoteIdField.invalid" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-pink" [disabled]="!karafunRemoteExportForm.form.valid" (click)="modal.close(karafunRemoteId)">Export to Karafun Remote</button>
  </div>
</ng-template>

<!-- Karafun Bar export modal -->
<ng-template #karafunBarExportModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Export to Karafun Bar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #karafunBarExportForm="ngForm">
      <div class="form-group">
        <label for="karafunBarId">Booking ID</label>
        <div class="input-group">
          <input type="text" class="form-control" id="karafunBarId" name="karafunBarId" [(ngModel)]="karafunBarId" #karafunBarIdField="ngModel" [class.is-invalid]="karafunBarIdField.dirty && karafunBarIdField.invalid" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-pink" [disabled]="!karafunBarExportForm.form.valid" (click)="modal.close(karafunBarId)">Export to Karafun Bar</button>
  </div>
</ng-template>

<ng-template #shareModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share this id with your friends</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="shareUrl">Share URL</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" readonly id="shareUrl" name="shareUrl" [(ngModel)]="shareUrl">
        <button type="button" class="btn btn-light shadow" (click)="copyToClipboard(shareUrl)"><i class="fas fa-copy"></i></button>
      </div>
      <label for="accessKey">Access Key only</label>
      <div class="input-group">
        <input type="text" class="form-control" readonly id="accessKey" name="accessKey" [(ngModel)]="playlist.accessKey">
        <button type="button" class="btn btn-light shadow" (click)="copyToClipboard(playlist.accessKey)"><i class="fas fa-copy"></i></button>
      </div>
    </div>
  </div>
</ng-template>
