<ul class="list-group shadow" *ngIf="songs" cdkDropList cdkDropListLockAxis="y" [cdkDropListDisabled]="!allowMove" (cdkDropListDropped)="moveSong($event)">
  <li *ngFor="let song of songs; trackBy: trackBySongCatalogId" (click)="gotoSong(song)" class="list-group-item list-group-item-action align-items-center no-gutters px-3 py-2" 
    cdkDrag (cdkDragStarted)="dragging = true" (cdkDragDropped)="dragging = false">
    <div class="list-group-item py-2" *cdkDragPlaceholder></div>
    <div class="col-auto px-2" cdkDragHandle *ngIf="allowMove">
      <i class="fas fa-grip-lines-vertical"></i>
    </div>
    <ng-container *ngIf="song?.song">
      <ng-container *ngTemplateOutlet="songItem; context: { song: song.song, playlistSong: song }"></ng-container>
    </ng-container>
    <ng-container *ngIf="!song?.song">
      <ng-container *ngTemplateOutlet="songItem; context: { song: song }"></ng-container>
    </ng-container>
  </li>
</ul>

<ng-template #songItem let-song="song" let-playlistSong="playlistSong">
  <div class="col-auto">
    <img src="{{ song.image }}" class="rounded" style="width: 50px;">
  </div>
  <div class="col px-3">
    <p class="m-0"><a href="#" [routerLink]="['/songs', song.catalogId]" class="text-reset">{{ song.name }}</a></p>
    <p class="m-0"><a href="#" routerLink="/songs" [queryParams]="{ query: song.artist.name }" (click)="$event.stopPropagation()" class="text-muted"><small>{{ song.artist.name }}</small></a></p>
  </div>
  <div class="col-auto d-none d-md-block" *ngIf="playlistSong?.createdBy">
    <span class="badge text-dark" ngbTooltip="Added by {{ playlistSong.createdBy.displayName }} on {{ playlistSong.createdDate | date:'short' }}" placement="top top-left top-right auto" container="body"><i class="fas fa-info-circle"></i></span>
  </div>
  <div class="col-auto" *ngIf="showDuration && song.duration">
    <span class="badge badge-secondary" title="Duration">{{ song.duration | duration }}</span>
  </div>
  <div class="col-auto d-none d-sm-block ml-2">
    <ng-container [ngSwitch]="song.previewStatus">
      <button *ngSwitchDefault type="button" class="btn btn-outline-dark" title="Play audio preview" (click)="$event.stopPropagation(); playSong(song)"><i class="fas fa-play"></i></button>
      <button *ngSwitchCase="'waiting'" type="button" class="btn btn-outline-dark" (click)="$event.stopPropagation(); stopSong()"><i class="fas fa-spinner fa-spin"></i></button>
      <button *ngSwitchCase="'playing'" type="button" class="btn btn-dark" title="Stop audio preview" (click)="$event.stopPropagation(); stopSong()"><i class="fas fa-stop"></i></button>
      <button *ngSwitchCase="'notfound'" type="button" class="btn btn-dark" title="Not available" disabled><i class="fas fa-ban"></i></button>
    </ng-container>
  </div>
  <div class="col-auto d-none d-sm-block ml-2">
    <app-song-actions [song]="song" [showVotes]="showVotes" [showComments]="showComments" [showPlaylists]="showPlaylists" [showRemove]="showRemove"
      (voteAdded)="voteAdded.emit($event)" (voteRemoved)="voteRemoved.emit($event)" (commentAdded)="commentAdded.emit($event)" (commentRemoved)="commentRemoved.emit($event)"
      (playlistAdded)="playlistAdded.emit($event)" (playlistRemoved)="playlistRemoved.emit($event)" (songRemoved)="songRemoved.emit($event)">
    </app-song-actions>
  </div>
</ng-template>

<!-- Hidden audio player -->
<div class="d-none" plyr plyrType="audio" [plyrSources]="songPlyrSource" (plyrInit)="songPlyr = $event" (plyrWaiting)="songPlyrEvent($event)" (plyrCanPlay)="songPlyrEvent($event)" (plyrPlaying)="songPlyrEvent($event)" (plyrPause)="songPlyrEvent($event)" (plyrEnded)="songPlyrEvent($event)"></div>
