.list-group-item {
    display: flex;
}

.list-group-item-action {
    cursor: pointer;
}

.cdk-drag-handle {
    cursor: move;
    color: rgba(0,0,0,.375);
    margin-left: -1rem;
}

.cdk-drag-preview {
    border-radius: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.cdk-drag-placeholder {
    min-height: 50px;
    box-sizing: content-box;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
