<ul class="list-group shadow" *ngIf="songs">
  <li *ngFor="let song of songs; trackBy: trackBySongId" (click)="gotoSong(song)" class="list-group-item list-group-item-action d-flex align-items-center no-gutters px-3 py-2">
    <div class="col-auto">
      <img src="{{ song.image }}" class="rounded" style="width: 50px;">
    </div>
    <div class="col px-3">
      <p class="m-0"><a href="#" [routerLink]="['/songs', song.catalogId]" class="text-reset">{{ song.name }}</a></p>
      <p class="m-0"><a href="#" routerLink="/songs" [queryParams]="{ query: song.artist.name }" (click)="$event.stopPropagation()" class="text-muted"><small>{{ song.artist.name }}</small></a></p>
    </div>
    <div class="col-auto" *ngIf="showDuration && song.duration">
      <span class="badge badge-secondary" title="Duration">{{ song.duration | duration }}</span>
    </div>
    <div class="col-auto d-none d-sm-block ml-2">
      <app-song-actions [song]="song" [showVotes]="showVotes" [showComments]="showComments" [showPlaylists]="showPlaylists" [showRemove]="showRemove"
        (voteAdded)="voteAdded.emit($event)" (voteRemoved)="voteRemoved.emit($event)" (commentAdded)="commentAdded.emit($event)" (commentRemoved)="commentRemoved.emit($event)"
        (playlistAdded)="playlistAdded.emit($event)" (playlistRemoved)="playlistRemoved.emit($event)" (songRemoved)="songRemoved.emit($event)">
      </app-song-actions>
    </div>
  </li>
</ul>