<h1>Playlists</h1>

<div class="row">
  <!-- Playlist list -->
  <div class="col-md-4 col-lg-3">
    <div class="list-group shadow mb-3">
      <a href="#" routerLink="/playlists" class="list-group-item list-group-item-action" [class.active]="!playlist">
        <i class="fas fa-plus mr-1"></i>
        New playlist
      </a>
      <a href="#" *ngFor="let p of playlists; trackBy: trackByPlaylistId" [routerLink]="['/playlists', p.id]" class="list-group-item list-group-item-action" [class.active]="playlist && p.id == playlist.id">
        <i class="fas fa-list mr-1"></i>
        {{ p.name }}
      </a>
    </div>
  </div>
  <!-- Playlist detail -->
  <div class="col-md-8 col-lg-9">
    <!-- Create playlist -->
    <ng-container *ngIf="!playlist">
      <form #playlistCreateForm="ngForm" (ngSubmit)="createPlaylist(playlistName)">
        <div class="input-group shadow">
          <input type="text" class="form-control" name="playlistName" [(ngModel)]="playlistName" #playlistNameField="ngModel" [class.is-invalid]="playlistNameField.dirty && playlistNameField.invalid" placeholder="Playlist name" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-pink" [disabled]="!playlistCreateForm.form.valid"><i class="fas fa-plus"></i> Create</button>
          </div>
        </div>
      </form>
    </ng-container>
    <!-- Show playlist -->
    <app-playlist-detail [playlist]="playlist" (delete)="deletePlaylist($event)" *ngIf="playlist"></app-playlist-detail>
  </div>
</div>
