<h1>Playlists</h1>

<!-- Toolbar -->
<div class="row no-gutters justify-content-between align-items-center my-3">
  <div class="col">
    <button type="button" class="btn btn-pink shadow" (click)="createPlaylist()"><i class="fas fa-plus"></i> Create</button>
  </div>
</div>

<!-- Playlists list -->
<div class="row" *ngIf="playlists; else playlistsLoading">
  <div class="col">
    <div class="list-group shadow mb-3" *ngIf="playlists.length > 0">
      <li *ngFor="let p of playlists; trackBy: trackByPlaylistId" (click)="gotoPlaylist(p)" class="list-group-item list-group-item-action d-flex align-items-center no-gutters px-3 py-2">
        <div class="col">
          <p class="m-0">
            <i class="fas mr-1" [ngClass]="{ 'fa-lock': p.readOnly, 'fa-list': !p.readOnly }"></i>
            {{ p.name }}
          </p>
        </div>
        <div class="col-auto d-none d-sm-block">
          <span class="badge badge-secondary mx-1 d-none d-md-inline" *ngIf="p.members" title="Members"><i class="fas fa-users d-none d-md-inline"></i> {{ p.members.length }} member{{ p.members.length > 1 ? 's' : '' }}</span>
          <span class="badge badge-secondary mx-1" *ngIf="p.songsCount" title="Songs count"><i class="fas fa-music d-none d-md-inline"></i> {{ p.songsCount }} song{{ p.songsCount > 1 ? 's' : '' }}</span>
          <span class="badge badge-secondary mx-1" *ngIf="p.duration" title="Duration"><i class="fas fa-clock d-none d-md-inline"></i> {{ p.duration | duration }}</span>
        </div>
        <div class="col-auto ml-2">
          <button type="button" class="btn btn-outline-secondary mx-1" title="Edit playlist" (click)="$event.stopPropagation(); editPlaylist(p)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-outline-danger mx-1" title="Leave playlist" (click)="$event.stopPropagation(); leavePlaylist(p)"><i class="fas fa-sign-out-alt"></i></button>
        </div>
      </li>
    </div>
    <p *ngIf="playlists.length == 0">No playlist has been created yet.</p>
  </div>
</div>

<!-- Loading indicator -->
<ng-template #playlistsLoading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border spinner-border-lg" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
